{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hang Man</title>
        <script>
          const playerName = "{{playerName}}";
        </script>
        <script src="{% static 'hangman/app.js' %}"></script> 
        <link href="{% static 'hangman/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            <div id="header" >
                <div class="name">{{playerName}}</div>
                <div class="geams">Spieleanzahl : {{gamesCount}}</div>
                <div><span id="time">02:00</span> minutes!</div>
            </div>
            <h1>Hangman Game</h1>

            <div id="word" class="word">
              {% for char in letter_placeholders %}
                <div class="wordLetter">{{char}}</div>
              {% endfor %}
            </div>

            <div class="lettersGroup">
                {% for letter in letters %}
                    <div class="letter">{{letter}}</div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>